<h1>{{nombre}}</h1>

<dl>
    <td>Nombre</td>
    <dd>{{nombre}}</dd>

    <td>Edad</td>
    <dd>{{edad}}</dd>

    <td>Metodo</td>
    <dd>{{getheroesDescripcion()}}</dd>

    <td>Capitalizado</td>
    <dd>{{capitalizacionNmae}}</dd>

</dl>
<button  
*ngIf="nombre !== 'capitan america'" 
class="btn btn-primary" 
(click)="cambiarNombre()">
Cambiar Nombre
</button>

<button 
*ngIf="edad !== 60" 
class="btn btn-success" 
(click)="cambiarEdad()"
>
Cambiar edad
</button>

<button
(click)="reset()"
class="btn btn-danger"
>
    Resetear
</button>